/*
Items Name : Pluno
Author : Ngetemplates
-------------------------------- */
/* ------------------------------
  Import Google Web Font
---------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* ------------------------------
  General
---------------------------------*/
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  background: #ffffff;
  color: #686868;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Kanit', sans-serif;
  padding: 0;
  margin: 0;
  color: #2a2a2a;
}

h1 {
  font-size: 75px;
  line-height: 70px;
  font-weight: 500;
  position: relative;
  margin-bottom: 20px;
}

h2 {
  font-size: 58px;
  font-weight: 500;
  line-height: 58px;
  margin-bottom: 20px;
}

h3 {
  font-size: 32px;
  font-weight: 500;
}

h4 {
  font-size: 25px;
  font-weight: 400;
}

h5 {
  font-size: 20px;
  font-weight: 400;
  line-height: 22px;
}

h6 {
  font-size: 18px;
}

a {
  text-decoration: none;
  color: #464646;
}

a:hover {
  color: #facb04;
}

p {
  margin: 5px 0 15px;
  line-height: 28px;
  letter-spacing: 0.5px;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

img {
  width: 100%;
}

.container-fluid {
  padding: 0 5%;
}

/* ------------------------------
  preloader
---------------------------------*/
.spinner4 {
  background: #facb04;
}

/* ------------------------------
  button
---------------------------------*/
.button {
  padding: 12px 20px;
  background: #facb04;
  color: #2a2a2a;
  font-size: 14px;
  letter-spacing: 1px;
  border-radius: 20px;
  border: 0;
  transition: 0.2s;
  font-weight: 600;
  border: 1px solid transparent;
}

.button:hover {
  background: #2a2a2a;
  color: #ffffff;
  border-color: transparent;
}

.button2 {
  background: #facb04;
  color: #2a2a2a;
}

.button2:hover {
  background: #ffffff;
  color: #2a2a2a;
}

.button3 {
  border-color: #fff;
  color: #fff;
}

.button3:hover {
  background: #2a2a2a;
  border-color: #2a2a2a;
}

/* ------------------------------
  navbar
---------------------------------*/
.navbar {
  top: 0;
  background: #1f3a51;
  padding: 30px 0;
  position: fixed;
  width: 100%;
  z-index: 99;
  text-align: center;
}
.navbar .navbar-brand {
  text-align: left;
  width: 20%;
}
.navbar .navbar-brand img {
  height: 40px;
  width: auto;
}
.navbar .navbar-toggler {
  padding: 0;
}
.navbar .navbar-toggler i {
  font-size: 32px;
  color: #ffffff;
}
.navbar .navbar-toggler:focus {
  box-shadow: none;
}
.navbar .navbar-collapse {
  position: relative;
  width: 60%;
  text-align: center;
  left: -10px;
}
.navbar .navbar-nav {
  margin-right: auto;
  margin-left: auto;
}
.navbar .navbar-nav li {
  padding: 0 10px;
}
.navbar .navbar-nav li a {
  color: #ffffff;
  font-weight: 500;
}
.navbar .navbar-nav li a:hover {
  color: #facb04;
}
.navbar .button-navbar {
  width: 20%;
  float: right;
  text-align: right;
  margin-right: 1rem;
}
.navbar .button-navbar li {
  display: inline-block;
  margin-left: 15px;
}
.navbar .button-navbar .button {
  position: relative;
  right: -24px;
}

.navbar-fixed {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0);
}

/* ------------------------------
  intro
---------------------------------*/
.intro {
  color: #eee;
  background: #1f3a51;
  padding: 115px 0 120px;
}
.intro img {
  border-radius: 20px;
}
.intro .content {
  background: #facb04;
  padding: 40px;
  border-radius: 20px;
  color: #2a2a2a;
  margin-bottom: 25px;
}
.intro .content h1 {
  margin-bottom: 100px;
}
.intro .content-image {
  background: url(../img/intro1.jpg) center no-repeat;
  background-size: cover;
  text-align: center;
  border-radius: 20px;
  margin-right: 1.5rem;
}

/* ------------------------------
  about
---------------------------------*/
.about {
  padding-top: 130px;
}
.about .image-left {
  position: relative;
  bottom: -50px;
}
.about .image-right {
  position: relative;
  top: -50px;
}
.about img {
  border-radius: 20px;
}

/* ------------------------------
  achievement
---------------------------------*/
.achievement {
  margin-top: 30px;
  margin-bottom: 120px;
  text-align: center;
  padding-top: 50px;
}
.achievement p {
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
}

.achievement i {
  color: #39d196;
  font-size: 60px;
}

.achievement h2 {
  margin: 10px 0;
  color: #facb04;
}

.achievement .content {
  background: #1f3a51;
  border-radius: 20px;
  padding: 50px 0 35px;
  box-shadow: 0 12px 30px -15px rgba(0, 0, 0, 0.2);
}

/* ------------------------------
  testimonial
---------------------------------*/
.testimonial {
  padding-top: 120px;
  padding-bottom: 120px;
  background: #facb04;
}
.testimonial i {
  height: 100px;
  width: 100px;
  background: #1f3a51;
  border: 4px solid #ffffff;
  font-size: 50px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  line-height: 98px;
  position: relative;
  top: -63px;
  left: -50px;
  z-index: 2;
  float: right;
}
.testimonial .swiper .content {
  text-align: center;
  background: #1f3a51;
  color: #ffffff;
  padding: 40px;
  position: relative;
  border-radius: 20px;
}
.testimonial .swiper .content h5 {
  color: #ffffff;
}
.testimonial .content-image {
  margin-left: 100px;
}
.testimonial .content-image img {
  border-radius: 20px;
}
.testimonial .content-image .row .col {
  margin: 10px 0;
}

/* ------------------------------
  services
---------------------------------*/
.services {
  padding: 120px 0;
}
.services .content-left img {
  border-radius: 20px;
}
.services .content-right img {
  height: 70px;
  width: auto;
}
.services .content-right .content {
  margin: 30px 0;
}
.services .content-right .content h4 {
  margin: 20px 0 10px;
}

/* ------------------------------
  pricing	
---------------------------------*/
.pricing {
  background: #dae9f7;
  padding-top: 120px;
  padding-bottom: 120px;
}
.pricing h2 {
  margin-bottom: 40px;
}
.pricing .content-list {
  background: url(../img/price.png) center no-repeat;
  background-size: 85%;
  border-radius: 20px;
}
.pricing .content-list li {
  font-size: 26px;
  color: #1f3a51;
  padding: 8px 0;
}
.pricing .content-list li i {
  font-size: 20px;
  color: #facb04;
  margin-right: 5px;
  height: 20px;
  width: 20px;
  background: #1f3a51;
  border-radius: 5px;
  line-height: 18px;
}
.pricing .content {
  box-shadow: 0 12px 30px -15px rgba(0, 0, 0, 0.2);
  background: #1f3a51;
  border-radius: 20px;
  padding: 25px;
  color: #ffffff;
}
.pricing .content .bold {
  font-weight: 600;
  position: relative;
  margin-top: 35px;
  color: #ffffff;
}
.pricing .content .bold span {
  font-size: 40px;
  margin-right: 5px;
  color: #facb04;
}
.pricing .content h4 {
  color: #ffffff;
}
.pricing .button {
  margin-top: 150px;
}

/* ------------------------------
  contact
---------------------------------*/
.contact {
  padding-top: 120px;
  padding-bottom: 30px;
  font-size: 16px;
  font-weight: 500;
  clear: both;
}
.contact iframe {
  width: 100%;
}
.contact h5 {
  margin-bottom: 15px;
  font-weight: 500;
}
.contact .content {
  position: relative;
  margin: 5px 0;
}
.contact .content .icon {
  float: left;
}
.contact .content .icon i {
  background: #facb04;
  font-size: 25px;
  color: #fff;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  margin-right: 22px;
  border-radius: 10px;
}
.contact .content .text {
  overflow: hidden;
}
.contact .content .text span {
  position: relative;
  top: -10px;
}
.contact .content-map {
  margin-top: 30px;
}

/* ------------------------------
  footer
---------------------------------*/
footer {
  text-align: right;
}
footer .row {
  padding: 10px 0 30px 0;
}

footer ul {
  text-align: left;
}

footer ul li {
  display: inline-block;
}

footer ul li i {
  font-size: 20px;
  margin-right: 10px;
}

footer ul li i:hover {
  color: #facb04;
}

/* ------------------------------
  responsive
---------------------------------*/
@media (max-width: 992px) {
  .navbar .navbar-nav li {
    padding: 0 2px;
  }

  .testimonial .content-image {
    margin-left: 0;
  }
}
@media (max-width: 991px) {
  .navbar .button-navbar {
    display: none;
  }

  .intro .col-md {
    flex: 100%;
  }
  .intro .content-entry {
    margin-left: 30px;
  }

  .about img {
    display: none;
  }
  .about .row .col-md {
    flex: 100%;
  }

  .achievement .col-md {
    flex: 50%;
  }

  .services .col-md {
    flex: 100%;
  }

  .pricing .col-md {
    flex: 100%;
  }

  .contact .row .row .col {
    flex: 100%;
  }
}
@media (max-width: 767px) {
  .intro {
    padding-bottom: 100px;
  }

  .pricing .content {
    margin-bottom: 25px;
  }

  .testimonial h2 {
    margin-top: 30px;
  }
  .testimonial .swiper {
    margin-top: 0;
    margin-left: 0;
  }
}
@media (max-width: 575px) {
  .container {
    padding: 0 25px;
  }

  h1 {
    font-size: 48px;
    line-height: 53px;
  }

  .intro {
    padding-bottom: 130px;
  }

  .intro .content-left {
    padding-right: 0;
  }

  .intro .content-entry {
    margin-top: 0;
    width: 100%;
  }

  .about .col {
    flex: 100%;
  }

  .testimonial .swiper {
    width: 100%;
  }

  .testimonial .content {
    padding-right: 0px;
  }

  .testimonial .content-image {
    width: 100%;
    margin-top: 30px;
  }

  .testimonial .content-image img {
    bottom: 0;
    right: 0;
  }

  h2 {
    font-size: 36px;
    line-height: 45px;
  }

  footer {
    text-align: center;
  }
  footer ul {
    text-align: center;
    margin-bottom: 12px;
  }
}
